.hljs {
  line-height: 1.5;
  code {
    display: block;
    overflow-x: auto;
    background: #1d1f21;
    color: #c5c8c6;
    padding: 0.5em;
    -webkit-text-size-adjust: none;
  }
  h1, h2, h3, h4, h5, h6 {
    margin-top: -@header_height;
    padding-top: @header_height;
  }
}
.standalone {
  @header_height: 70px;
  &.ios7, &.ios8 {
    .hljs {
      h1, h2, h3, h4, h5, h6 {
        margin-top: -@header_height;
        padding-top: @header_height;
      }
    }
  }
}

.mobile {
  .hljs {
    .hjln {
      display: none;
    }
  }
}
