<div class="pages" xd-title="{{ article.articleDetailTitle }}">
  <div class="page-block side right">
    <div class="right">
      <div class="each-header clearfix">
        <span class="big-size">{{ 'pages.article.articleCategory' | translate }}</span>
      </div>
      <div class="each-inner">
        <ul class="side-list clearfix">
          <li class="nowrap" ng-repeat="category in categories">
            <span class="a type" ng-class="{ 'active': article.category.key === category.key }" ui-sref="home">{{ category.name }}</span>
          </li>
        </ul>
      </div>
    </div>
    <div class="left"></div>
  </div>

  <div class="page-block left">
    <div class="each-header">
      <span class="full-title big-size">{{ article.articleDetailTitle }}</span>
      <div class="changes">• {{ article.createTime }} • {{ article.category.name }}</div>
    </div>
    <div class="each-inner">
      <div class="each-article">{{ article.content }}</div>
    </div>
  </div>

  <div class="page-block left">
    <div class="each-header">
      <span class="active-color count-replys">{{ articleReplies }}&nbsp;</span>{{ 'pages.article.replies' | translate }}
    </div>
    <div class="each-inner">
      <ul class="replies">
        <li class="each-reply root-reply" ng-repeat="reply in replies">
          <img class="pic left" ng-src="{{ reply.replyUser.pic }}" alt="">
          <div class="right">
            <div class="word">
              <div class="user">{{ reply.replyUser.nickName }}</div>
              <div class="mes">{{ reply.content }}</div>
            </div>
            <div class="message">
              <span class="time">{{ reply.time }}</span>
              <span class="pointer icon ion-reply a" ng-click="showReplyInput(reply, reply)">{{ 'pages.article.reply' | translate }}</span>
              <span class="pointer icon ion-android-delete a">{{ 'pages.article.delete' | translate }}</span>
              <span class="foor">{{ reply.index }}{{ 'pages.article.floor' | translate }}</span>
            </div>
          </div>
          <ul class="sub-reply">
            <li class="each-reply" ng-repeat="subReply in reply.subReplies">
              <img class="pic left" ng-src="{{ subReply.replyUser.pic }}" alt="">
              <div class="right">
                <div class="word">
                  <div class="user">{{ subReply.replyUser.nickName }}<span class="nomal-color">&nbsp;{{ 'pages.article.lowercaseReply' | translate }}&nbsp;</span>{{ subReply.replyObject.nickName }}</div>
                  <div class="mes">{{ subReply.content }}</div>
                </div>
                <div class="message">
                  <span class="time">{{ subReply.time }}</span>
                  <span class="pointer icon ion-reply a" ng-click="showReplyInput(reply, subReply)">{{ 'pages.article.reply' | translate }}</span>
                  <span class="pointer icon ion-android-delete a">{{ 'pages.article.delete' | translate }}</span>
                </div>
              </div>
            </li>

            <li class="reply-floor show" ng-show="reply.input.show">
              <form class="form" name="REPLY_COMMENT" ng-submit="replySubmit(reply.input.object, submitForm.replyContent)">
                <div class="form-group clearfix">
                  <span>{{ 'pages.article.replyPlaceholder' | translate }}&nbsp;<span class="tamato">{{ reply.input.nickName }}</span>：</span>
                  <textarea ng-focus="reply.input.show" ng-model="submitForm.replyContent" class="form-control reply-textarea" placeholder="{{ 'pages.article.commentPlaceholder' | translate }}" required></textarea>
                  <button ng-disabled="!REPLY_COMMENT.$valid" class="btn reply-button" type="submit">{{ 'pages.article.reply' | translate }}</button>
                </div>
              </form>
            </li>
          </ul>
        </li>
      </ul>
    </div>

    <div class="each-inner">
      <p>{{ 'pages.article.replyArticle' | translate }}:</p>

      <form ng-submit="commentSubmit(submitForm.commentContent)" name="REPLY_ARTICLE" class="form">
        <div class="form-group clearfix">
          <label for="add_content"></label>
          <textarea ng-model="submitForm.commentContent" class="form-control reply-textarea" id="add_content" cols="30" rows="10" type="text" placeholder="{{ 'pages.article.commentPlaceholder' | translate }}" required></textarea>
          <button ng-disabled="REPLY_ARTICLE.$invalid" class="main btn reply-button" type="submit">{{ 'pages.article.comment' | translate }}</button>
        </div>
      </form>
    </div>
  </div>
</div>
