<div class="pages" xd-title="{{ 'titles.articleListTitle' | translate }}">
  <div class="page-block side right">
    <div class="right">
      <div class="each-header clearfix">
        <span class="big-size">{{ 'pages.article.articleCategory' | translate }}</span>
      </div>
      <div class="each-inner">
        <ul class="side-list clearfix">
          <li class="nowrap" ng-repeat="category in categories">
            <a class="a type" ng-class="{ 'active': articleList.category === category.key }" ui-sref="views.article.articles({category: category.key})">{{ category.name }}</a>
          </li>
        </ul>
      </div>
    </div>
    <div class="left"></div>
  </div>

  <div class="page-block left">
    <div class="each-header">
      <span class="big-size">{{ 'pages.article.articlesHeader' | translate }}</span>
    </div>
    <div class="each-inner">
      <ul class="articles">
        <li class="article">
          <input type="text" class="form-control" ng-model="searchText.title" placeholder="{{ 'search' | translate }}">
        </li>
        <li class="article article-list-repeat" ng-repeat="article in articles | filter: searchText">
          <a class="a" ui-sref="views.article.article({category: article.category, url: encode(article.url)})">
            <div class="title">
            {{ article.title }}
            </div>
            <div class="time">{{ article.createTime | date: 'yyyy-MM-dd HH:mm:ss' }}</div>
          </a>
        </li>
        <li class="article" ng-if="!articles.length">{{ 'pages.article.none' | translate }}</li>
      </ul>
      <div class="text-center">
        <ul class="pagination">
          <li ng-hide="!pagePrev" ng-click="prevPage()"><span class="a">{{ 'pagination.prev' | translate }}</span></li>
          <li ng-hide="!pageNext" ng-click="nextPage()"><span class="a">{{ 'pagination.next' | translate }}</span></li>
        </ul>
        <!--<infinite-scroll on-infinite="nextPage()" load-more-word="{{ 'pagination.loadMore' | translate }}" no-more-word="{{ 'pagination.noMore' | translate }}"></infinite-scroll>-->
      </div>
    </div>
  </div>
</div>
