<div class="pages" xd-title="{{ 'titles.homeTitle' | translate }}">
  <div class="page-block">
    <div class="each-header">
      <span class="big-size">{{ 'pages.home.homeHeader' | translate }}</span>
    </div>
    <div class="each-inner">
      <ul class="articles">
        <li class="article" ng-repeat="article in articles">
          <a class="a" ui-sref="views.article.article({category: article.category, url: encode(article.url)})">
            <div class="title">
              {{ article.title }}
            </div>
            <div class="time">{{ article.createTime | date: 'yyyy-MM-dd HH:mm:ss' }}</div>
          </a>
        </li>
        <li class="article" ng-if="!articles.length">{{ 'pages.article.none' | translate }}</li>
      </ul>
      <div class="text-center">
        <ul class="pagination">
          <li ng-hide="!pagePrev" ng-click="prevPage()"><span class="a">{{ 'pagination.prev' | translate }}</span></li>
          <li ng-hide="!pageNext" ng-click="nextPage()"><span class="a">{{ 'pagination.next' | translate }}</span></li>
        </ul>
      </div>
    </div>
  </div>
</div>
