<div class="pages" xd-title="{{ 'titles.homeTitle' | translate }}">
  <div class="page-block">
    <div class="each-header">
      <span class="big-size">{{ 'pages.home.homeHeader' | translate }}</span>
    </div>
    <div class="each-inner">
      <ul class="articles">
        <li class="article" ng-repeat="article in articles">
          <div class="title">
            <span class="a" ui-sref="article({category: article.category, url: article.url})">{{ article.title }}</span>
          </div>
          <div class="time">{{ article.createTime | date: 'yyyy-MM-dd HH:mm:ss' }}</div>
        </li>
        <li class="article" ng-if="!articles.length">{{ 'pages.article.none' | translate }}</li>
      </ul>
    </div>
  </div>
</div>
