<div class="pages setting" xd-title="{{ 'pages.forget.title' | translate }}">
  <div class="page-block">
    <div class="each-header">
      <span class="big-size">{{ 'pages.forget.title' | translate }}</span>
    </div>
    <div class="each-inner">
      <form class="form" name="ACCOUNT_FORGET" ng-submit="submit()">
        <article class="xd-article">
          <div class="form-group">
            <label class="form-label" for="forget_username">{{ 'pages.account.username' | translate }}：<span class="tomato" ng-show="ACCOUNT_SETTING.username.$dirty && ACCOUNT_SETTING.username.$invalid">*{{ 'signModal.usernameFlag' | translate }}</span></label>
            <input class="form-control" ng-model="data.username" id="forget_username" name="username" ng-pattern="usernamePattern" type="text" placeholder="{{ 'pages.account.username' | translate }}" required>
            <span ng-show="ACCOUNT_FORGET.$dirty && ACCOUNT_FORGET.username.$valid" class="icon darlin-checkmark active"></span>
          </div>
          <div class="form-group">
            <label class="form-label" for="forget_oldPassword">{{ 'pages.forget.oldPassword' | translate }}：<span class="tomato" ng-show="ACCOUNT_SETTING.email.$dirty && ACCOUNT_SETTING.email.$invalid">*{{ 'signModal.passwordFlag' | translate }}</span></label>
            <input class="form-control" ng-model="data.oldPassword" id="forget_oldPassword" ng-pattern="passwordPattern" name="oldPassword" type="password" placeholder="{{ 'pages.forget.oldPassword' | translate }}" required>
            <span ng-show="ACCOUNT_FORGET.$dirty && ACCOUNT_FORGET.oldPassword.$valid" class="icon darlin-checkmark active"></span>
          </div>
          <div class="form-group">
            <label class="form-label" for="forget_newPassword">{{ 'pages.forget.newPassword' | translate }}：</label>
            <input class="form-control" ng-model="data.newPassword" id="forget_newPassword" ng-pattern="passwordPattern" name="newPassword" type="password" placeholder="{{ 'pages.forget.newPassword' | translate }}" required>
            <span ng-show="ACCOUNT_FORGET.$dirty && ACCOUNT_FORGET.newPassword.$valid" class="icon darlin-checkmark active"></span>
          </div>

          <div class="form-group">
            <label class="form-label width-0"></label>
            <button ng-disabled="!ACCOUNT_FORGET.$dirty || ACCOUNT_FORGET.$invalid || requesting" class="main btn" type="submit">{{ 'pages.forget.save' | translate }}</button>
          </div>
        </article>
      </form>
    </div>
  </div>
</div>
